:root {
  --a: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
}
.close {
  display: none;
}
.left {
  width: 25vw;
  padding: 14px 14px 0 10px;
}
.right {
  width: 75vw;
  margin-top: 20px;
  position: relative;
}
.home {
  padding: 10px;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
}
.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 23px 14px;
  align-items: center;
  font-size: 13px;
}
.heading img {
  width: 20px;
}
.library {
  min-height: 80vh;
  position: relative;
}
.footer {
  display: flex;
  font-size: 10px;
  color: gray;
  gap: 7px;
  position: absolute;
  bottom: 0px;
  padding-bottom: 12px;
}
.footer a {
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 34, 34);
}
.header > * {
  padding: 20px;
}
.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.spotifyPlaylists {
  padding: 16px;
}
.spotifyPlaylists h1 {
  margin-bottom: 12px;
}
.cardContainer {
  display: flex;
  gap: 10px;
  margin: 25px;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 63vh;
  scrollbar-width: none;
}
.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all 2s;
}
.card:hover {
  background-color: black;
  cursor: pointer;
  --a: 1;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.card > * {
  padding-top: 10px;
}
.play svg {
  width: 48px;
  height: 48px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 146px;
  right: 17px;
  opacity: var(--a);
  transition: all 1s ease-out;
    padding-left: 10px;
}

button > * {
  margin: 0 42px;
}

.signupbtn {
  background-color: rgb(34, 34, 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover {
  color: white;
  font-size: 17px;
}

.loginbtn {
  background-color: #d9d9d9ff;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  width: 79px;
  padding: 10px;
  border-radius: 21px;
}

.loginbtn:hover {
  font-weight: bold;
  padding: 11px;
}

.playbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  filter: invert(1);
  background: #e2d9d9;
  border-radius: 10px;
  width: 90%;
  padding: 12px;
  width: 70vw;
  min-height: 40px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.songbuttons img {
  cursor: pointer;
  width: 35px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.songList {
  height: 65vh;
  overflow: auto;
  margin-bottom: 44px;
}
.songList ul {
  padding: 0 15px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  border: 2px solid white;
  margin: 12px 0;
  padding: 12px 5px;
  border-radius: 5px;
}
.songList .info {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.info div {
  word-wrap: break-word;
  /* word-break: break-all; */
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playnow span {
  font-size: 15px;
  width: 87px;
  padding: 12px;
}
.playnow img {
  width: 25px;
}

.seekbar {
  height: 06px;
  width: 97%;
  background: black;
  border-radius: 10px;
  position: absolute;
  bottom: 7px;
  padding: 1px;
  cursor: pointer;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  bottom: 6px;
  left: 0%;
  transform: left 0.5s;
}

.songinfo {
  color: black;
  padding: 6px;
  width: 199px;
}
.songtime {
  color: black;
  padding: 6px;
  width: 129px;
}
.abovebar {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 7px 0;
}
.timevol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.range input{
  cursor: pointer;
}

@media (max-width: 1200px) {
  .close {
    display: block;
    position: absolute;
    top: 21px;
    right: 21px;
  }
  .left {
    padding: 0;
    background-color: black;
    position: absolute;
    left: -110%;
    transition: all 0.3s;
    z-index: 1;
    width: 100vw;
  }
  .library {
    height: 85vh;
    justify-content: center;
  }
  .songList {
    height: 70vh;
  }
  .right {
    width: 100vw;
    margin-top: 0;
  }
  .playbar {
    /* width: 91vw; */
    width: calc(100vw - 40px);
  }
  .seekbar {
    width: calc(100vw - 60px);
    /* width: 100%; */
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .songinfo {
    overflow: hidden;
    width: auto;
  }
  .abovebar {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 90vw;
  }
  .card {
    width: 80vw;
  }
  .cardContainer {
    display: flex;
    justify-content: center;
    margin: 0;
    max-height: 83vh;
  }
  .timevol {
    flex-direction: column;
  }
}

@media (min-width: 1023px) and (max-width: 1200px) {
  .left {
    width: 65vw;
  }
  .library {
    height: 90vh;
  }
  .songList {
    height: 79vh;
  }
  .spotifyPlaylists h1 {
    margin-bottom: 25px;
  }
  .card {
    width: 44vw;
  }
  .abovebar {
    flex-direction: row;
  }
}
