@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url("assets/image/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(700px, 100vw);
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.42;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}

nav img{
    color: red;
    width:130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 11px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20px;
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 3px 24px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.6);
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .first{
    flex-wrap: wrap;
    }
}

.secImg{
    position: relative;

}

.secImg img{
    /* width: 555px; */
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 51px;
    width: 26vw;
    right: 0;
}

section.first>div{
    display: flex;
    flex-direction: column;
}

.first > div :first-child{
    font-size: 48px;
    font-weight: bold;
}

.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bold;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover{
    background-color: rgb(37, 36, 36);
    color: white;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
}

footer .questions{
    padding: 30px 0;
} 

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 14px;
}

@media screen and (max-width: 1300px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        padding: 14px;
    }
}

footer a{
    font-size: 10px;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
}